@import '../../core/styles/colors';

.control-panel-button {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.control-panel-button.active {
  cursor: pointer;
  color: $active-button;
}

.control-panel-button.disabled {
  cursor: not-allowed;
  color: $disabled-button;
}

.control-panel-button.view {
  padding: 0.3rem;
  border-radius: 5px;
}

.control-panel-button.view.selected {
  cursor: pointer;
  color: white;
  background: $active-button;
}

.control-panel-button.view.disabled {
  cursor: not-allowed;
  background: white;
  color: $active-button;
}
