@import 'core/styles/colors';

.text-segment {
  display: inline;
  position: relative;
  border-radius: 5px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.25rem;
  border: 2px solid transparent;
  cursor: pointer;
  z-index: 500;
}

.text-segment.disabled {
  background-color: $white !important;
  cursor: not-allowed;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.text-segment.disabled:hover {
  box-shadow: 0 0 0 3pt transparent;
}

.text-segment:hover {
  box-shadow: 0 0 1pt 3pt $focus;
}

.text-segment.focused {
  box-shadow: 0 0 1pt 3pt $focus;
}

.text-segment.linked {
  background-color: $linked;
}

.text-segment.group-1 {
  background-color: $alt-1;
}

.text-segment.group-2 {
  background-color: $alt-2;
}

.text-segment.group-3 {
  background-color: $alt-3;
}

.text-segment.not-linked {
  background-color: $default;
}

.text-segment.selected {
  background-color: $selected !important;
  color: $selected-invert;
}
