@import '../../core/styles/colors';

.text-segment {
  display: inline;
  position: relative;
  border-radius: 5px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.25rem;
  border: 2px solid transparent;
  cursor: pointer;
  z-index: 500;
}

.text-segment.disabled {
  background-color: $white !important;
  cursor: not-allowed;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.text-segment.disabled:hover {
  box-shadow: 0 0 0 3pt transparent;
}

.text-segment:hover {
  box-shadow: 0 0 1pt 3pt $focus;
}

.text-segment.focused {
  box-shadow: 0 0 1pt 3pt $focus;
}

.text-segment.linked {
  background-color: $linked;
}

.text-segment:not(.selected) > .text.noun {
  font-weight: bold;
  color: blue;
}

.text-segment.selected > .text.noun {
  font-weight: bold;
  border-radius: 0.1rem;
  background-color: blue;
  color: white;
}

.text-segment:not(.selected) > .text.verb {
  font-weight: bold;
  color: darkred;
}

.text-segment.selected > .text.verb {
  font-weight: bold;
  border-radius: 0.1rem;
  background-color: darkred;
  color: white;
}

.text-segment:not(.selected) > .text.adjective {
  font-weight: bold;
  color: green;
}

.text-segment.selected > .text.adjective {
  border-radius: 0.1rem;
  font-weight: bold;
  background-color: green;
  color: white;
}

.text-segment.reference.linked-to-source:not(.linked-to-target):not(.selected) {
  background-image: -webkit-linear-gradient(top, $linked 50%, $default 50%);
  border-bottom-color: $default;
}

.text-segment.reference.linked-to-target:not(.linked-to-source):not(.selected) {
  background-image: -webkit-linear-gradient(bottom, $linked 50%, $default 50%);
  border-top-color: $default;
}

.text-segment.group-1 {
  background-color: $alt-1;
}

.text-segment.group-2 {
  background-color: $alt-2;
}

.text-segment.group-3 {
  background-color: $alt-3;
}

.text-segment.not-linked {
  background-color: $default;
}

.text-segment.selected {
  background-color: $selected !important;
  color: $selected-invert;
}

.text-segment.locked {
  cursor: not-allowed;
}
