// COLOR Palette
$black: black;
$light-grey: #f0f0f0;
$grey: #c8c8c8;
$blue: blue;
$dark-blue: darkblue;
$white: white;

$alt-1: PowderBlue;
$alt-2: LightSeaGreen;
$alt-3: orange;

// CONCEPTUAL palette
$default: $light-grey;
$focus: $dark-blue;
$selected: $black;
$selected-invert: $white;
$linked: $grey;
$active-button: $blue;
$disabled-button: $grey;

// ELEMENT palette;
$text-color: $black;
