@import '../../core/styles/colors.scss';

.link {
  pointer-events: painted;
  cursor: pointer;
  stroke: $linked;
}

.link.focused {
  stroke: $focus;
  stroke-width: 10;
}

.link-canvas {
  pointer-events: none;
}
